 /* Google fonts */
 @import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600&&display=swap");


body {
  margin: 0;
  padding: 0;
}

:root {
  font-family: Manrope;
  color-scheme: light dark;
  background-color: #093637;



  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}