.cardBody {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid #ff8906; */
    padding: 25px;
    background: #0f0c29;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.cardBody img {
    width: 200px;
    height: 200px;
}


.borderCard {
    display: flex;
    justify-content: center;
    align-items: center;
}

.summaryName {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 13px;
    font-weight: 600;
    /* background-color: rgba(255, 255, 255, 0.04); */
}