.paginated {
    display: flex;
    justify-content: center;
    padding: 25px;
}

.selectedButton {
    display: flex;
    justify-content: center;
    margin: 10px 10px 0px 0px;
    height: 30px;
    width: 30px;
    align-items: center;
    min-width: 10px;
    border: 0;
    outline: none;
    border-radius: 3px;
    background-color: #302b63;
    border: 1.5px solid #ff8906;
    cursor: pointer;
}

.prevNextButtons {
    display: flex;
    justify-content: center;
    height: 30px;
    width: 30px;
    margin: 10px 10px 0px 0px;
    align-items: center;
    min-width: 10px;
    border: 0;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
}

.selectedButtonOff {
    display: flex;
    justify-content: center;
    height: 30px;
    width: 30px;
    margin: 10px 10px 0px 0px;
    align-items: center;
    min-width: 10px;
    border: 0;
    outline: none;
    border-radius: 3px;
    background: #0f0c29;
    cursor: pointer;
    box-shadow: rgba(244, 243, 243, 0.35) 0px 5px 15px;
}

.prevNextParaph {
    color: #fff;
}

/* .prevNextParaphOff {

} */