.kingContainer{
    margin: 30px 25px 0px 0px;
}

img {
    width: 200px;
    height: 200px;
}

.borderCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1.5px solid #ff8906;
    border-radius: 3px;
    padding: 25px;
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
}

.summaryName {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 600;
    width: 200px;
    height: 40px;
}