.navBarStyle{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background: #0f0c29;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.orderList {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.spanHome{
    display: flex;
    align-items: center;
    padding: 13.5px;
}

.listItems {
    background: transparent;
    border: none;
    outline: none;
    border-left: 1px solid #ff8906;
    padding: 5px;
    list-style: none;
    margin-right: 10px;
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
}

.listItems:hover{
    margin-bottom: 5px;
}

.listItems:focus{
    background-color: white;
    margin-bottom: 5px;
    border-left: 1px solid #fff;
    color: red;
}

